<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Home Page</title>
</head>
<body>
    <nav> 
        <ul>
            <li><a href="/employees">Employee Main Menu</a></li>
            <li><a href="/jobs">Jobs Main Menu</a></li>
            <li><a href="/departments">Departments Main Menu</a></li>
        </ul>
    </nav>
    <h1>Hello DBS 501</h1>
    <h1>Our Group Name: Parjad Minooei, Stanislav Chirikov, Vrushank Janakkumar Vaidhya</h1>
    <h1>Group #3</h1>
</body>
</html>