<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/departments.css">
    <title>Departments</title>
</head>
<body>
    <header>Department</header>
    <table class="styled-table">
        <thead>
            <tr class="table-header">
                <th>Department ID</th>
                <th>Department Name</th>
            </tr>
        </thead>
        <tbody>
            {{#each departments}}
                <tr class="table-row">
                    <td>{{this.[0]}}</td>
                    <td>{{this.[1]}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="button-container" style="text-align: center;">
        <button type="button" onclick="window.location.href = '/'">Home</button>
    </div>
</body>
</html>
 